* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}
header {
    text-align: center;
    padding-top: 2rem;
}

nav form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

nav form input {
    width: 200px;
    margin: 0.5rem;
}

nav form select {
    width: 200px;
    margin: 0.5rem;
    
}

nav form button {
    margin: 0.5rem;
}

table th {
    display:inline-block;
    padding-left: 10rem;
    padding-right:10rem;
    
}

table td {
    display:inline-block;
    padding-left: 10rem;
    padding-right:10rem;
    
}

.sort-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.sort-button {
    margin: 0.5rem;
}

.dropdown-filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }